{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <h1>Formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formation.id }}</td>
            </tr>
            <tr>
                <th>Nomformation</th>
                <td>{{ formation.Nomformation }}</td>
            </tr>
            <tr>
                <th>Prixformation</th>
                <td>{{ formation.Prixformation }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{{ formation.Datedebut ? formation.Datedebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ formation.Datefin ? formation.Datefin|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_formation_index') }}">back to list</a>

    <a href="{{ path('app_formation_edit', {'id': formation.id}) }}">edit</a>

    {{ include('formation/_delete_form.html.twig') }}
{% endblock %}
